/node_modules
/.vscode
.env
/server/node_modules
ePortfolio-98216637d759.json
/server/package-lock.json
/server/package.json
functions/impressive-hall-288310-6cb866cafafe.json
functions/firebase-debug.log
functions/cloud-storage/impressive-hall-288310-505de956c046.json
functions/package-lock.json
firebase-debug.log
firestore-debug.log