/node_modules
/.vscode
/functions/node_modules
**/impressive-hall-288310-**.json
*/*.log
**.log
/firebase.config.json
/server/node_modules
ePortfolio-98216637d759.json
/server/package-lock.json
/server/package.json
functions/impressive-hall-288310-6cb866cafafe.json
functions/firebase-debug.log
functions/cloud-storage/impressive-hall-288310-505de956c046.json
functions/package-lock.json
firebase-debug.log
firestore-debug.log
.firebase
functions/testingKey.json
functions/serviceAccountKey.json
Front-End/everest/package-lock.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

package-lock

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
