/node_modules
/.vscode
.env
/functions/node_modules
**/impressive-hall-288310-**.json
*.log
/firebase.config.json
/server/node_modules
ePortfolio-98216637d759.json
/server/package-lock.json
/server/package.json
.firebase
