language: node_js
node_js:
- 14.9.0
os: linux
dist: xenial
before_install:
- openssl aes-256-cbc -K $encrypted_1a11bd03c2bb_key -iv $encrypted_1a11bd03c2bb_iv
  -in .env.local.enc -out Front-End/everest/.env.local -d
- openssl aes-256-cbc -K $encrypted_8f3247421601_key -iv $encrypted_8f3247421601_iv
  -in serviceAccountKey.json.enc -out functions/serviceAccountKey.json -d
install:
- npm install -g firebase-tools
- npm --prefix ./functions install
- npm --prefix ./Front-End/everest install
script:
- npm --prefix ./Front-End/everest run build
- cd functions
- firebase emulators:exec --project impressive-hall-288310 --only firestore,functions
  'npm test'
- cd ..
cache:
  npm: true
  directories:
  - "/home/travis/.cache/firebase/emulators"
deploy:
  cleanup: false
  provider: firebase
  token: "$FIREBASE_TOKEN"
  on:
    branch: master
