<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mockup authentication</title>

</head>

<body>
    <div class="container">

        <input id="txtEmail" type="email" placeholder="Email">
        <input id="txtPassword" type="password" placeholder="Password">


        <button id="btnLogin" class="btn btn-action"> Log in</button>


        <button id="btnSignup" class="btn btn-secondary"> Sign Up</button>

        <button id="btnLogout" class="btn btn-action hide">Log out</button>
    </div>
    
    
    
    <script> src="app.js"
    
    </script>

</body>

</html>