.card {
    border: none;
    color: white;
    width: 260px;
    height: 320px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
}

.label {
    color: #0F446E;
    opacity: 0.8;
    font-family: "Karla";
    font-size: 16px;
    position: relative;
    bottom: -15%;
    left: 32%;
}

@media screen and (min-width: 1567px) {
    .card {
        width: 18vw;
        height: 22vw;
    }

    .label {
        font-size: 1vw;
    }
}

.card_image {
    width: 78%;
    position: relative;
    left: 8%;
    top: 15%;
}