* { font-family: "Nanum Gothic"; }
h2 { 
    font-weight: bold;
    font-size: 26px; 
    color: white;
}

.register_page {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to left, #FFFFFF 50%, #082F4E 50%);
}

#login_btn {
    border-radius: 50px;
    width: 167px;
    height: 30px;
    padding-bottom: 3px;
    border: 3px solid white;
    background-color: #082F4E;
    color: white;
    position: absolute;
    top: 70px;
    left: 78px;
    outline: none;
}

#login_btn:hover {
    background-color: white;
    color: #082F4E;
}

.switch_to_login_container {
    position: absolute;
    left: 12.5%;
    top: 43.5%;
}

#register_header {
    font-size: 29px;
    color: #082F4E;
}

#first_name, #last_name { width: 235px; }

.name_fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
}

.register_fields {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    position: absolute;
    top: 196%;
}

#register {
    border-radius: 50px;
    width: 215px;
    height: 26px;
    padding-bottom: 3px;
    border: 1px solid #082F4E;
    background-color: white;
    color: #082F4E;
    position: absolute;
    top: 121.5%;
    outline: none;
}
  
#register:hover {
    background-color: #082F4E;
    color: white;
    border: 1px solid #082F4E;
}

.register_container {
    position: absolute;
    left: 57%;
    top: 25%;
}

