p { 
    color: white; 
    font-size: 40px;
    font-family: 'Frank Ruhl Libre', serif;

}

.profile_overview_page {
    height: 100vh;
    width: 100vw;
    background: #082F4E; 
}

#profile_background {
    position: absolute;
    bottom: 11%;
    right: 14%;
    width: 60%;
    height: 60%;
}

.overview_btns {
    background-color: #082F4E;
    outline: none;
    border: none;
    padding-bottom: 4px;
    padding-right: 1.5px;
    font-size: 16px;
    color: white;
    font-family: "Karla";
}

.overview_btns:hover { text-decoration: underline; }

#achievement_image {
    width: 95%;
    position: absolute;
    bottom: 0%;
}

#sun_image {
    width: 28%;
    position: absolute;
    bottom: 14%;
    right: 16%;
}

.buttons {
    position: absolute;
    left: 93.5%;
    bottom: 2%;
}

#home_btn, #about_btn, #signout_btn {
    transform: scale(0.45, 0.45);
}

#about_btn {
    position: relative;
    top: 24px;
}

#home_btn {
    position: relative;
    top: 49px;
}

#home_btn:hover, #about_btn:hover, #signout_btn:hover {
    border-radius: 50px;
    box-shadow: 0px 0px 10px white;
}

.page_headers {
    position: absolute;
    top: 28%;
    left: 8%;
}

#description {
    font-size: 16px;
    position: absolute;
    left: 1%;
    top: 120%;
}

.header_overview_btns {
    display: flex;
    flex-direction: row;
    column-gap: 120px;
    flex-wrap: wrap;
    position: absolute;
    left: 8%;
    top: 14%;
    justify-content: center;
}

