* { font-family: "Karla"; }
h1 { color: #082F4E; }

.profile_overview_page {
    background-color: #FDFDFD;
    height: 100vh;
    width: 100vw;
}

#profile_background {
    position: absolute;
    bottom: 11%;
    right: 14%;
    width: 60%;
    height: 60%;
}

.overview_btns {
    background-color: white;
    outline: none;
    border: none;
    padding-bottom: 4px;
    padding-right: 1.5px;
    font-size: 16px;
    color: #082F4E;
}

#welcome { border-bottom: 2px solid white; }


.page_headers {
    position: absolute;
    top: 30%;
    left: 10%;
}

#description {
    font-size: 16px;
    position: absolute;
    left: 1%;
    top: 120%;
}

.selected { border-bottom: 2px solid white; }
.overview_btns:hover{ font-weight: bold; }

.header_overview_btns {
    display: flex;
    flex-direction: row;
    column-gap: 110px;
    flex-wrap: wrap;
    position: absolute;
    left: 10%;
    top: 15%;
    justify-content: center;
}

#add_projects {
    position: absolute;
    top: 210%;
    background-color: #082F4E;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    width: 170px;
    height: 22px;
    font-size: 12px;
    outline: none;
}

#add_projects:hover {
    background-color: white;
    color: #082F4E;
}