* { font-family: "Karla"; }

.projectTitle{
    color: #082F4E; 
    font-size: 42px;
}

.projectDesc{
    color: #082F4E; 
    font-size: 24px;
}

.projectContent{
    color: #082F4E; 
    font-size: 12px;
}
