.projectLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    font-size: 150%;
    min-height: 300px;
    height: 60vh;
    width: 100%;
}

.projectHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #082F4E;
}

.projectTitle{
    color: white; 
    font-size: 2em;
}

.projectDescription{
    display: inline-block;
    background: white;
    padding:1em;
    padding-left: 4em;
    width: 100%
}

.descriptionTitle{
    display: inline-block;
    color: #a5a5a5; 
    text-align: left;
    font-size: 2em;
    padding:2rem;
    width: 100%;
}  

.descriptionBody{
    color: #a5a5a5; 
    text-align: left;
    font-size: 1em;
    padding:2rem;
    width: 100%;
}
.projectContent{
    display: inline-flex;
    flex-direction: row;
    background: #a5a5a5;
    padding:1em;
    padding-left: 4em;
    width: 100%
}
.halfDetailText{
    color: white;
    text-align: left;
    font-size: 1em;
    padding:2rem;
    width: 50%;
}

.detailText{
    color: white;
    text-align: left;
    font-size: 1em;
    padding:2rem;
    width: 100%;
}
.detailImageWrap{
    width:50%;
    padding:1em;
}

.detailImage{
    max-width:50%;
    padding:1em;
}

