

.projectLayout{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 300px;
  height: 60vh;
  width: 100%;
}

.projectLayout a#doneEditProjectButton{
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  
}

.projectLayout div#doneEditProjectButton{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: white;
  border-radius: 100%;
  border-color: black;
  border: 3px solid;
  min-width: 50px;
  min-height: 50px;
  font-size: 75%;
  width: 10vh;
  height: 10vh;
  bottom: 50px;
  right: 50px;
  
}

.projectHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 6rem;
  height: 100%;
  width: 100%;
}

.projectTitle{
  width: 50%;
  font-size: larger;
}

.projectTitle input{
  color:white;
  font-size: larger;
}

.projectAuthor{
  font-size: x-large;
}

.projectDate{
  font-size: large;
}

.projectDescription{
  display: inline-block;
  padding: 1em;
  padding-left:8rem;
  padding-right:8rem;
  width: 100%
}

.descriptionTitle{
  display: inline-block;
  text-align: left;
  font-size: large;
  width: 100%;
}  

.descriptionBody{
  text-align: left;
  font-size: small;
  width: 100%;
}

.projectDetail{
  display: flex;
  flex-direction: column;
  padding:1em;
  padding-left:8rem;
  padding-right:8rem;
  width: 100%
}

.detailTitle{
  width:100%;
  text-align: left;
  font-size: large;
}

.projectDetailContent{
  display: flex;
  flex-direction: row;
  width: 100%
}

.halfDetailText{
  text-align: left;
  font-size: small;
  width: 50%;
}

.detailText{
  text-align: left;
  font-size: small;
  width: 100%;
}

.detailImageWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width:50%;
  height:100%;
  padding: 2rem;
}

.detailImage{
  border-radius: 0.5em;
  max-width: 100%;
  max-height: 100%;
}

.projectEditSubmit {
  width: 215px;
  height: 26px;
  padding-bottom: 1px;
  border: 1px solid #082F4E;
  background-color: white;
  color: #082F4E;
  outline: none;
}

.projectEditSubmit:hover {
  background-color: #082F4E;
  color: white;
  border: 1px solid #082F4E;
}
