* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #eee;
  }

/* .page_container { */
        /* background-image: url("/Images/mountains.jpg"); */
        /* background-repeat: no-repeat; */
        /* background-attachment: fixed;   */
        /* background-size: cover; */
        /* background: #eee; */
        
        /* height: inherit;        INHERITING FROM BODY */
        /* width: inherit; */
        /* background: #eee; */
        
    /* } */

/************************************************* HEADER SECTION **********************************************/
  
    #project_list_header {
        background-color: #082f4e;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
        display: flex;
        width: 100vw;
        /* height: 17vh; */
    }
  
  
  #project_list_header_title {
    color: white;
    font-size: xx-large;
    margin: 1.25rem 0.625rem 0.625rem 1.563rem;
    text-shadow: 0.188rem 0.188rem 0.125rem black;
    width: 100vw;
    font-family: "Baloo Tammudu 2", cursive;
    /* flex: 1; */
  }
  
  
  
  /************************************************* TOP BUTTONS DIV **********************************************/
  
  /* .projectListButtons {
    display: flex;
  } */
  
  

  
  /************************************************* ADD PROJECT BUTTONS **********************************************/

  .addProject {
    /* background-color:yellow; */
    width: 100vw;
    /* flex: 5; */
    display: inline-block;
  }
  
  .addProjectText {            /* The Button name as link  */
    position: absolute;
    top: 10.9rem;
    left: 5%;
    font-size: x-large;
    text-decoration: none; 
    color: #082f4e;
    font-family: "Baloo Tammudu 2", cursive;
    /*** NEWLY ADDED ***/
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
  }
  .addProjectText:hover {color: #51adcf;}


  
  .addProject-icon {
    color: #082f4e;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1.375rem;
    margin-left: 1.25rem;
  }
  /* .addProject-icon:hover {color: rgb(45, 231, 255);}  ADD PROJECT ICON DOES NOT LIGHT UP WHEN HOVERED ON  */
  .addProject-icon:hover {color: #51adcf;}
  
  
  /************************************************* GO BACK BUTTONS **********************************************/
  
  .goBack {
    color: #082f4e;
    padding-right: 20px;
    padding-top: 10px;
    position: absolute;
    top: 10.275rem;
    right: 25px;
    /* background-color: yellow;	  */
  }


  .goBackText {              /* The Button name as link  */
    position: relative;
    left: 5px;
    bottom: 3px;
    text-decoration: none; 
    color: #082f4e;
    font-family: "Baloo Tammudu 2", cursive;
    /*** NEWLY ADDED ***/
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
  }
  /* .goBackText:hover {color: rgb(255, 154, 59)} */
  .goBackText:hover {color: #51adcf;}

  
  .far.fa-arrow-alt-circle-left {
    color: #082f4e;
    font-size: 24px;
    position: relative;
    top: 2px;
  }
  .far.fa-arrow-alt-circle-left:hover {color: #51adcf;}
  /* .far.fa-arrow-alt-circle-left:hover {color: rgb(255, 154, 59)} */
  
  /*********************************  MAIN STARTS  ************************************************/
  
  .project {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
  }

  .projectNameAndDesc {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .projectImage {
    width: 35vw;
    height: 50vh;
    border-radius: 12px;
    border: 1px solid #082f4e;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-left: 30px;

    /* margin-top: 50px;
    margin-left: 60px;
    margin-right: 150px;
    width: 35vw;
    height: 50vh;
    border-radius: 12px;
    border: 1px solid #082f4e;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer; */
  }
  .projectImage:hover { border: 5px solid #51adcf; }
  
  .projectName {
    color: #082f4e;
    text-decoration: none;
    text-shadow: none;
    font-size: x-large;
    font-weight: 800;    
    font-family: "Baloo Tammudu 2", cursive;

    /* color: #082f4e;
    text-decoration: none;
    text-shadow: none;
    position: relative;
    bottom: 5rem; 
    font-size: x-large; 
    font-weight: 800;    
    font-family: "Baloo Tammudu 2", cursive; */
  }
  .projectName:hover {color: #51adcf;}

  
  .projectDesc {
    font-size: large;
    font-family: "Baloo Tammudu 2", cursive;
    color: rgb(0,0,0,0.6);
    width: 45vw;
    text-align: center;
    /* font-size: large;
    font-family: "Baloo Tammudu 2", cursive;
    line-height: 1.7;
    color: rgb(0,0,0,0.6);
    padding: 50px 100px 100px 0px;
    position: relative;
    top: 3rem; 
    right: 7rem;  */
  }
  
  
  /******************************************  ANCHOR LINKS  ************************************************/
  
  a {
    text-shadow: none;
    text-decoration: none;
  }

  /* a {
    color: #082f4e;
  } Unvisited link  */
  /* a:visited {
    color: #082f4e;
  } Visited link    */
  /* a:hover {
    color: rgb(122, 128, 141);
  }  */
  
  /************************************************* CAN USE LATER **********************************************/
  

  
  /* #search {
    position: absolute;
    top: 45px;
    right: 25px;
    position: relative;
    top: 30px;
  } */

  .themeColour{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 100px;
  }