.forgot_your_password {
    opacity: 0;
    display: "none";
    position: absolute;
    left: 6%;
}

#reset_password {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color:  #082F4E;
    background-color: white;
    outline: none;
    border: none;
}

#forgot_pwd_entry {
    position: absolute;
    left: 0.15%;
    top: 67px;
} 

.submit_reset_password {
    position: absolute;
    left: 0.15%;
    top: 376%;
}
  
#submit_icon_unhovered {
    height: 20px;
    width: 20px;
    opacity: 0.7;
    position: absolute;
    left: 460px;
    top: 8.7px;
}

#back_to_login {
    position: absolute;
    left: 232.5%;
    top: 526%;
}