* { font-family: "Karla"; }
h2 { font-weight: bold; }

.create_login_page {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #FFFFFF 50%, #082F4E 50%);
  display: none;
  opacity: 0;
}

.create_login_fields_container {
  position: relative;
  top: 37.4%;
}

.create_user_inputs {
  position: absolute;
  left: 6.15%;
  top: 67px;
}

.create_password_elements {
  position: relative;
  top: 11px;
}

#create_login_icon_unhovered {
  position: absolute;
  left: 460px;
  top: 8.25px;
  height: 20px;
  width: 20px;
  opacity: 0.7;
}

#create_forgot_password {
  position: absolute;
  left: 81.1%;
  top: 123.5%;
}

#create_login_header {
  position: absolute;
  left: 6%;
  font-size: 26px;
  color: #082F4E;
}

#createport_account_header {
  color: white;
  font-size: 26px;
}

#create_register_btn {
  border-radius: 50px;
  width: 218px;
  height: 30px;
  padding-bottom: 1px;
  border: 3px solid white;
  background-color: #082F4E;
  color: white;
  position: absolute;
  left: 1px;
  top: 57px;
  outline: none;
}

#create_register_btn:hover {
  background-color: white;
  color: #082F4E;
}

.createport_account_container {
  position: absolute;
  left: 68.5%;
  top: 64px;
}

.create_content_container {
  position: relative;
  top: 37.45%;
}

#create_login_white_icon {
  width: 1.7%;
  position: absolute;
  top: 56vh;
  left: 96.5vw;
}

#create_login_white_icon:hover {
 width: 1.77%;
}