#form_header {
    left: 6%;
    font-size: 1.625rem;
    margin-bottom: 2rem;
    text-shadow: none;
  }

#name_entry, #desc_entry, #body_entry, #tags_entry, #main_image_upload {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#submitButton {
  width: 12%;
  font-size: medium;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  box-shadow: none; 
  opacity: 1;      
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

