.projectLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 150%;
    height: 400px;
    width: 100%;
}

.projectLayout a#editProjectButton{
  position: fixed;
  color:black;
  bottom: 5vh;
  right: 5vw;
}

.projectLayout a#editProjectButton:hover{
  color: whea;
}

.projectLayout div#editProjectButton{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: white;
  border-radius: 100%;
  border-color: black;
  border: 3px solid;
  width: 50px;
  height: 50px;
  font-size: 20px;
  bottom: 50px;
  right: 50px;
  
}

.projectTitle{
    width: 50%;
    font-size: larger;
    font-family: 'Baskervville', serif;
}

.projectAuthor{
    font-size: x-large;
}

.projectDate{
    font-size: large;
}

.projectDetail{
    display: flex;
    flex-direction: column;
    padding:1em;
    padding-left:12rem;
    padding-right: 12rem;
    min-height: 400px;
    height: 60vh;
    width: 100%
}

.projectDetail#header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.detailHead{
  display: flex;
  flex-direction: row;
}

.detailHead #detailTitle{
  width:70%;
  justify-self: left;
}

.detailHead #detailType{
  width:30%;
  justify-content: right;
  display: flex;

}

.detailTitle{
    width:100%;
    padding-bottom:1em;
    text-align: left;
    font-size: x-large;
    font-family: 'Baskervville', serif;
}

.detailContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

.halfDetailText{
    text-align: left;
    font-size: small;
    width: 50%;
}

.detailText{
    text-align: left;
    font-size: small;
    width: 100%;
}

.detailImageWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height:90%;
}

.detailImageWrap#right{
  margin-left:2em;
}

.detailImageWrap#left{
  margin-right:2em;
}

.detailImage{
    border-radius: 0.5em;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detailEditButtons{
  display: flex;
  flex-direction: row;
}