.projectLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 150%;
    height: 400px;
    width: 100%;
}

.projectLayout img#editProjectButton{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  color:white;
}

.projectLayout img#editProjectButton:hover{
  border-radius: 50%;
  box-shadow: 0px 0px 25px white;
}

.projectLayout img#deleteProjectButton{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 125px;
  border-radius: 50%;
  color:white;
}

.projectLayout img#deleteProjectButton:hover{
  border-radius: 50%;
  box-shadow: 0px 0px 25px white;
  cursor: pointer;
}

.projectLayout div#deleteProjectButton{
    display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: white;
  border-radius: 100%;
  border-color: red;
  border: 3px solid red;
  min-width: 50px;
  min-height: 50px;
  font-size: 75%;
  width: 10vh;
  height: 10vh;
  bottom: 50px;
  right: 175px;
}
.projectLayout span#textDelete{
    color: red;
    font-size: 175%;
}

.projectTitle{
    width: 50%;
    font-size: larger;
    font-family: 'Baskervville', serif;
}

.projectTitle #titleEntry{
  width: 300px;
  height: 60px;
  font-size: 1em;
  font-family: inherit;
  margin-left: 5px;
}

.projectAuthor{
    font-size: x-large;
}

.projectDate{
    font-size: large;
}

.projectDetail{
    display: flex;
    flex-direction: column;
    padding:1em;
    padding-left:12rem;
    padding-right: 12rem;
    min-height: 500px;
    height: 60vh;
    width: 100%
}

.projectDetail#header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.detailHead{
  display: flex;
  flex-direction: row;
  padding-bottom:1em;
}

.detailHead #detailType{
  width:30%;
  justify-content: right;
  display: flex;

}

.detailTitle{
    width:100%;
    text-align: left;
    font-size: x-large;
    font-family: 'Baskervville', serif;
}

.detailTitle #detailTitleEntry{
  width: 100%;
  height: 60px;
  font-size: inherit;
  font-family: inherit;
  margin-left: 2.2px;
}

.detailFileContent{
  display: flex;
  flex-direction: column;
  position: relative;
  top: -20vh;
  right: -10vw;
  height: 100%;
}

.detailFileName{
  position: relative;
  top:  -5vh;
  right: -25vw;
  height: 100%;
}
.detailContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
}

.halfDetailText{
  text-align: left;
  font-size: small;
  color:inherit;
  background: inherit;
  height: 90%;
  width: 50%;
}

.detailText{
    text-align: left;
    font-size: small;
    color:inherit;
    background: inherit;
    height: 90%;
    width: 100%;
}

.detailImageWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height:90%;
}

.detailImageWrap#right{
  margin-left:2em;
}

.detailImageWrap#left{
  margin-right:2em;
}

.detailImage{
    border-radius: 0.5em;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detailFileImage{
  width: 52.5%;
  height: 150%;
  position: relative;
  left: 20vw;
  top: 10vh;
}
.detailFileChoose{
  position: relative;
  right: 5vw;
  top: 40vh;
  height: 50px;  
}

.detailEditButtons{
  display: flex;
  flex-direction: row;
  height: 10%;
}