.projectLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 150%;
    height: 400px;
    width: 100%;
}

.projectLayout a#editProjectButton{
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  
}

.projectLayout div#editProjectButton{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: white;
  border-radius: 100%;
  border-color: black;
  border: 3px solid;
  min-width: 50px;
  min-height: 50px;
  font-size: 75%;
  width: 10vh;
  height: 10vh;
  bottom: 50px;
  right: 50px;
  
}

.projectTitle{
    width: 50%;
    font-size: larger;
}

.projectAuthor{
    font-size: x-large;
}

.projectDate{
    font-size: large;
}

.projectDetail{
    display: flex;
    flex-direction: column;
    padding:1em;
    padding-left:12rem;
    padding-right: 12rem;
    height: 400px;
    width: 100%
}

.projectDetail#header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.detailHead{
  display: flex;
  flex-direction: row;
}

.detailHead #detailTitle{
  width:70%;
  justify-self: left;
}

.detailHead #detailType{
  width:30%;
  justify-content: right;
  display: flex;

}

.detailTitle{
    width:100%;
    padding-bottom:1em;
    text-align: left;
    font-size: x-large;
}

.detailContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

.halfDetailText{
    text-align: left;
    font-size: small;
    width: 50%;
}

.detailText{
    text-align: left;
    font-size: small;
    width: 100%;
}

.detailImageWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height:100%;
    padding: 2rem;
    padding-left:0em;
}

.detailImage{
    border-radius: 0.5em;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectEditSubmit {
  width: 215px;
  height: 26px;
  padding-bottom: 1px;
  border: 1px solid #082F4E;
  background-color: white;
  color: #082F4E;
  outline: none;
}

.projectEditSubmit:hover {
  background-color: #082F4E;
  color: white;
  border: 1px solid #082F4E;
}

.addProjectDetail {
  width: 215px;
  height: 26px;
  padding-bottom: 1px;
  border: 1px solid #082F4E;
  background-color: white;
  color: #082F4E;
  outline: none;
}

.addProjectDetail:hover {
  background-color: #082F4E;
  color: white;
  border: 1px solid #082F4E;
}
