
/* .page_container { */
        /* background-image: url("/Images/mountains.jpg"); */
        /* background-repeat: no-repeat; */
        /* background-attachment: fixed;   */
        /* background-size: cover; */
        /* background: #eee; */
        
        /* height: inherit;        INHERITING FROM BODY */
        /* width: inherit; */
        /* background: #eee; */
        
    /* } */

.page_container a{
  text-decoration: none;
}
/************************************************* HEADER SECTION **********************************************/
  
    #project_list_header {
        display: flex;
        width: 100vw;
    }
  
  
  #project_list_header_title {
    color: white;
    font-size: xx-large;
    margin: 1.25rem 0.625rem 0.625rem 2rem;
    width: 100vw;
  }
  
  
  
  /************************************************* TOP BUTTONS DIV **********************************************/

  
  /************************************************* ADD PROJECT BUTTONS **********************************************/

  .projectListButtons{
    display:flex;
    flex-direction: row;
    height:45px;
    margin-top:10px;
    padding-right:10px;
    width:100%;
  }

  .addProjectButton {
    /* background-color:yellow; */
    width: 50%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: left;
    /* flex: 5; */
    display: flex;
    flex-direction: row;
  }
  
  .addProjectText {            /* The Button name as link  */
    font-size: x-large;
    text-decoration: none; 
    align-self: center;
    /*** NEWLY ADDED ***/
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
  }
  .addProjectText:hover {color: #51adcf;}


  
  .addProject-icon {
    color: #082f4e;
    width: 2.5rem;
    height: 2.5rem;
  }
  /* .addProject-icon:hover {color: rgb(45, 231, 255);}  ADD PROJECT ICON DOES NOT LIGHT UP WHEN HOVERED ON  */
  .addProject-icon:hover {color: #51adcf;}
  
  
  /************************************************* GO BACK BUTTONS **********************************************/
  
  .goBackButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width:50%;
    height: 100%;
    color: #082f4e;
  }


  .goBackText {              /* The Button name as link  */
    position: relative;
    left: 5px;
    bottom: 3px;
    text-decoration: none; 
    /*** NEWLY ADDED ***/
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
  }
  /* .goBackText:hover {color: rgb(255, 154, 59)} */
  .goBackText:hover {color: #51adcf;}

  
  .far.fa-arrow-alt-circle-left {
    font-size: 24px;
    position: relative;
    top: 2px;
  }
  .far.fa-arrow-alt-circle-left:hover {color: #51adcf;}
  /* .far.fa-arrow-alt-circle-left:hover {color: rgb(255, 154, 59)} */
  
  /*********************************  MAIN STARTS  ************************************************/
  
  .project {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
  }

  .projectNameAndDesc {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 400px;
  }
  
  .projectImage {
    /* width: 50vh; */
    /* height: 50vh; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-left: 30px;
    object-fit: cover;

    /* margin-top: 50px;
    margin-left: 60px;
    margin-right: 150px;
    width: 35vw;
    height: 50vh;
    border-radius: 12px;
    border: 1px solid #082f4e;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer; */
  }
  .projectImage:hover { border: 5px solid #51adcf; }
  
  .projectName {
    text-decoration: none;
    text-shadow: none;
    font-size: x-large;
    font-weight: 800;    

    /* color: #082f4e;
    text-decoration: none;
    text-shadow: none;
    position: relative;
    bottom: 5rem; 
    font-size: x-large; 
    font-weight: 800;    
    font-family: "Baloo Tammudu 2", cursive; */
  }
  .projectName:hover {color: #51adcf;}

  
  .projectDesc {
    font-size: large;
    color: rgb(0,0,0,0.6);
    width: 45vw;
    text-align: center;
    overflow-y: hidden;
    /* font-size: large;
    font-family: "Baloo Tammudu 2", cursive;
    line-height: 1.7;
    color: rgb(0,0,0,0.6);
    padding: 50px 100px 100px 0px;
    position: relative;
    top: 3rem; 
    right: 7rem;  */
  }
  
  
  /******************************************  ANCHOR LINKS  ************************************************/


  /* a {
    color: #082f4e;
  } Unvisited link  */
  /* a:visited {
    color: #082f4e;
  } Visited link    */
  /* a:hover {
    color: rgb(122, 128, 141);
  }  */
  
  /************************************************* CAN USE LATER **********************************************/
  

  
  /* #search {
    position: absolute;
    top: 45px;
    right: 25px;
    position: relative;
    top: 30px;
  } */
  