.Navbar{
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    color: white;
    top: 0;
    position: fixed;
}

.Navbar a{
    padding-right: 5%;
    padding-left: 5%;
}

.navBlock{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #000000;
  opacity: 60%;
}

.navContent{
  display: flex;

  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;

}

.navLogo{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 20%;
    height: 100%;
}

.navLogo img{
  margin-left: 10px;
  height: 75%;
}

.NavbarButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.navButton {
    color: white;

}

.navButton #login{
    background-color: #082F4E;
    color: white;
}

.navButton #sign-up{
    background-color: white;
    color: #082F4E;
}

.navUser{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    height: 100%;
}

.navUser img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0.5em;
    object-fit: cover;
}