.casual_overview {
    height: 100vh;
    width: 100vw;
}

#casual_overview_bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#casual_welcome {
    color: white;
    font-size: 40px; 
    font-weight: 500; 
    font-family: 'Commissioner', sans-serif;
    position: absolute;
    top: 25%;
    right: 10%;
}

#casual_username {
    color: white;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Commissioner', sans-serif;
    position: absolute;
    right: 10%;
    top: 33%;
}

#casual_signout {
    width: 3%;
    position: absolute;
    right: 1.5%;
    bottom: 2.5%;
}

#casual_signout:hover {
    border-radius: 50px;
    box-shadow: 0px 0px 50px white;
}

#dim_image {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.4;
}